/** {
	outline: 1px solid red;
}*/

body {
	background-color: #fff;
}

.container {
	background-color: #fff;
	margin: 0 auto;
	width: 650px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

h1 {
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.list-container {
	width: 100%;
	height: 50px;
}

.new-item-field {
	width: 300px;
}

.items {
	/*min-height: 500px;*/
	width: 100%;
}

.item td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.item {
	border-bottom: 1px solid gray;
}

.checkbox {
	width: 20px;
}

.checkbox-complete {
	background-image: url('../images/checkround.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 13px;
}

.checkbox-incomplete:hover {
	background-image: url('../images/checkmark.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 13px;
}

.completed {
	text-decoration: line-through;
}

.item-delete {
	width: 20px;
/*	background: url('../images/trash.png') no-repeat center center;
	background-size: 15px;*/
}

.item-delete img {
	width: 75%;
}